body {
    padding: 0;
    margin: 0;
}

.title {
    display: inline;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 26px;
}

.navbar-menu-top {
    padding: 10px;
    background-color: #161616;
}

.navbar-menu-top ul {
    display: block;
}

.navbar-menu-top ul li {
    display: inline;
    margin: 5px;
}

.navbar-menu-top ul li a {
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.navbar-menu-top a:hover {
    color: lightgray;
    text-decoration: underline;
    border: solid 1px #fff;
    padding: 10px;
    border-radius: 5px;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    z-index: 1;
    color: #fff;
    padding-top: 50px;
    text-align: center;
}

.home-title {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 4rem;
}

.button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: bold;
}

.button:hover {
    background-color: #333;
}

.footer {
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
}

.footer p {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
}