---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles/index.css" />
		<title>Tbosss AI Landing</title>
	</head>
	<body>
		<div>
			<div class="navbar-menu-top navbar">
				<ul>
					<li>
						<p class="title">Tboss AI</p>
					</li>
					<li>
						<a
							href="/"
							target="_blank"
							rel="noopener noreferrer">Home</a
						>
					</li>
					<li>
						<a
							href="/docs"
							target="_blank"
							rel="noopener noreferrer">Docs</a
						>
					</li>
				</ul>
			</div>
		</div>

		<div>
			<div class="video-background video">
				<video autoplay muted loop>
					<source
						src="/src/assets/video-background.mp4"
						type="video/mp4"
					/>
				</video>
				<br />
				<br />
				<div class="content">
					<center>
						<img
							style="border-radius: 15px;"
							src="/src/assets/tboss.png"
							width="300"
							height="300"
						/>
					</center>
					<p class="home-title">Your Next Generation AI</p>


					<a href="#" class="button">Get Started</a>
					<a href="#" class="button">Learn More</a>
				</div>
			</div>
		</div>

		<div>
			<div class="footer">
				<p>&copy; Copyright 2024 Tboss-AI. All Right Reseved.</p>
			</div>
		</div>
	</body>
</html>
