---
type Props = {};

const {} = Astro.props;
---

<div class="alerts-header">
    <p>Our Product will launch later then what is supposed to be..</p>
</div>

<style>
    .alerts-header {
        padding: 3px;
        background-color: purple;
    }

    .alerts-header p {
        color: lightgray;
        font-family: sans-serif;
        font-size: 18px;
        text-align: center;
    }
</style>
