---
type Props = {};

const {} = Astro.props;
---

<div>
    <div>
        <a
            class="black-button"
            href="http://"
            target="_blank"
            rel="noopener noreferrer">Get Started</a
        >

        <a
            class="black-button"
            href="/release-notes"
            target="_blank"
            rel="noopener noreferrer">Release Notes</a
        >
    </div>
</div>

<style>
    .black-button {
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .black-button:hover {
        background-color: #1d1d1d;
    }
    a {
        text-decoration: none;
        font-family: sans-serif;
        font-weight: 600;
    }
</style>
