---
type Props = {};

const {} = Astro.props;
---

<div>
    <div>
        <button onclick="" class="black-button">Get Started</button>

        <button onclick="" class="black-button">Release Notes</button>
    </div>
</div>

<style>
    .black-button {
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .black-button:hover {
        background-color: #333;
    }
</style>
